<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Añadir vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir vehículo</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="form-container">
  <h2 class="ion-margin-bottom" style="font-weight: 600;">Datos del vehículo</h2>

<ion-list lines="inset" class="ion-margin-bottom">
  <ion-item>
    <ion-input
      label="Marca"
      label-placement="floating"
      placeholder="Marca"
      [(ngModel)]="marca">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Modelo"
      label-placement="floating"
      placeholder="Modelo"
      [(ngModel)]="modelo">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Matrícula"
      label-placement="floating"
      placeholder="Matrícula"
      [(ngModel)]="matricula">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Año"
      label-placement="floating"
      placeholder="Año"
      [(ngModel)]="fechaCar">
    </ion-input>
  </ion-item>
</ion-list>

<ion-button expand="block" color="primary" class="ion-margin-top" (click)="addVehiculo()">
  Guardar
</ion-button>

<ion-button expand="block" color="primary" class="ion-margin-top" (click)="volverTab1()">
  Volver
</ion-button>

</div>

</ion-content>
