<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Añadir alerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir alerta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="inset">
    <ion-item>
      <ion-select label="Vehículo *"
                  labelPlacement="floating"
                  [(ngModel)]="nuevaAlerta.vehiculoId"
                  placeholder="Selecciona un vehículo">
        <ion-select-option *ngFor="let vehiculo of listaVehiculos" [value]="vehiculo.id">
          {{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.matricula }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Tipo de alerta *"
                  labelPlacement="floating"
                  [(ngModel)]="nuevaAlerta.tipo"
                  placeholder="Selecciona el tipo">
        <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
        <ion-select-option value="ITV">ITV</ion-select-option>
        <ion-select-option value="Seguro">Seguro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input 
        label="Fecha de inicio *"
        labelPlacement="floating"
        type="date"
        [(ngModel)]="nuevaAlerta.fechaActual">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Fecha de vencimiento *"
        labelPlacemente="floating"
        type="date"
        [(ngModel)]="nuevaAlerta.fechaProxima">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Notas (Opcional)"
        labelPlacemente="floating"
        [(ngModel)]="nuevaAlerta.notas"
        placeholder="Notas...">
      </ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="addAlerta()">
    Crear alerta y programar aviso
  </ion-button>

  <ion-button expand="block" color="medium" fill="clear" class="ion-margin-top" (click)="volverTab3()">
    Volver
  </ion-button>

</ion-content>
